* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(39, 77, 195);
  height: 100vh;
}

.slider-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.slider {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}

.tv_img {
  background-size: cover !important;
}

.img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover !important;
  filter: blur(5px);

}

#img_2::after {
  content: "";
  width: 0 px;
  height: 100%;
  border: 2px solid black;
  top: 0;
  float: right;
}

.tv_img {
  height: 75%;
  width: 100%;
  position: fixed;
}

#tv{
  height: 100%;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-image: url(img/screen.png);
  background-size: contain;
}
#tv-container{
  height: 745px;
  width: 978px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}